@font-face {
	font-family: "poppins";
	src: url("Poppins-Regular.ttf");
}

@font-face {
	font-family: "monument";
	src: url(MonumentExtended-Regular.otf);
}

@font-face {
	font-family: "Montaser Arabic";
	src: url("Montserrat-Arabic Regular 400.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Background Video */
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  /* NATURE ENGINEERED title */
  .hero-title {
    font-size: clamp(3rem, 8vw, 8rem);
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
    line-height: 1.1;
    font-family: "monument", sans-serif;
    color: #fefae0;

  }
  .hero-subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 10px;
    color: #fefae0;
  }
  /* Overlay */
.hero-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers horizontally */
  justify-content: center; /* centers vertically */
  text-align: center;
  z-index: 2;
  padding-top: 210px;
}

.hero-arrow {
  position: absolute;
  margin-top: 400px;  
  margin-left: 50px;     
  width: 185px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Hover effect */
.hero-arrow:hover {
    transform: scale(1.2) translateY(5px); /* grow + slight down bounce */
    opacity: 0.8; /* subtle fade */
}
  